<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Stężenia ozonu w Brennej - listopad 2017</h1>
		<form action="/" method="POST" >
			<button type="submit">Pobierz</button>
			<br />
			<iframe width="1200" height="600" frameborder="0" scrolling="no" src="//plot.ly/~w3579594/2.embed"></iframe>
		</form>
	</body>
</html>